* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 1rem;
    padding: 0;
}

#everything {
    margin: 0 auto;
    max-width: 42rem;
}

#video-outer-container {
    margin: 0;
}

#video-inner-container {
    background-color: blue;
    align-items: end;
    display: flex;
    height: 180px;
    margin-bottom: 0.5rem;
    /* position: relative; */
    width: 320px;
    /* z-index: -3; */
}

#video {
    position: absolute;
    /* z-index: -1; */
}

.control-overlay {
    position: relative;
    z-index: 1;
}

#initial-play-button {
    display: none;
    height: 100%;
    width: 100%;
}

#initial-play-button:hover {
    color: red;
    cursor: pointer;
}

#initial-play-button > span {
    font-size: 4rem;
}

#video-controls-toolbar {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#initial-play-button, #playpause {
    background: none;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 0;
}

#playpause > span {
    font-size: 2rem;
}

#playpause:hover {
    /* color: #f00; */
    cursor: pointer;
}
